.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}

.NavBar {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  margin: 2px;
  padding: 2px;
  /* text-align: right; */
  /* align-items: right; */
}


.col3 {
  column-count: 3;
  column-rule: 1px solid grey;
  column-fill: auto;
}

.uneven-col3 {
  /* column-count: 3; */
  /* column-fill: auto; */
  /* float: left; */
  margin: 14px 0px 4px 0px;
}

.uneven-col3:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  margin: auto;
}

.uneven-end {
  float: left;
  width: 25%;
  margin: auto;
  font-size: 14px;
  color: #61dafb;
}

.uneven-middle {
  float: left;
  width: 50%;
  margin: auto;
}

strong {
  font-size: 20px;
  margin: 2px 6px;
}
