.App {
  /* text-align: center; */
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.NavBar {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  margin: 2px;
  padding: 2px;
  /* text-align: right; */
  /* align-items: right; */
  /* width: 100%; */
  /* background-color: #282c34; */
}

.MainContainer {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Footer {
  position: fixed;
  bottom: 0;
  left: 0;
  /* width: 100%;
  background-color: #282c34; */
}

a {
  text-decoration: none;
  color: #61dafb;
}

.cardHolder {
  margin-bottom: -10px;
}

/* Home Card columns */
a.zillow {
  margin-top: -10px;
}

.col3 {
  column-count: 3;
  column-rule: 1px solid grey;
  column-fill: auto;
  text-align: center;
}

.column {
  margin: auto;
}

.uneven-col3 {
  margin: 14px 0px 4px 0px;
  text-align: center;
}

.uneven-col3:after {
  content: "";
  display: table;
  clear: both;
}

.uneven-end {
  float: left;
  width: 24%;
  margin: auto;
  font-size: 14px;
  color: #61dafb;
  background-color: #21252b;
  text-align: center;
  border-width: 1px;
  border-radius: 2px;
}

.uneven-middle {
  float: left;
  width: 50%;
  margin: auto;
}

.CompHomeCard {
  position: relative;
}

.compDelete {
  float: left;
  width: 5%;
  margin: auto;
  font-size: 14px;
  color: #282c34;
  background-color: #ba1027;
  text-align: center;
  border-width: 1px;
  border-radius: 2px;
  position: absolute;
  bottom: 48px;
  right: 26px;
}

.saveHome  {
  float: left;
  width: 24%;
  margin: auto;
  font-size: 14px;
  color: #282c34;
  background-color: #61dafb;
  text-align: center;
  border-width: 1px;
  border-radius: 2px;
  position: absolute;
  bottom: 48px;
  right: 26px;
}

strong {
  font-size: 20px;
  margin: 2px 6px;
}
