.App {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.MainBody {
  position: fixed;
  width: 100%;
  top: 40px;
  bottom: 0;
  overflow: scroll;
  padding-bottom: 80px;
  height: 100%;
}

.NavBar {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  margin: 2px;
  padding: 2px;
  width: 100%;
  overflow: hidden;
}

.NavLeft {
  /* margin-left: 20px; */
  /* float: left; */
  text-align: left;
  margin: 2px 12px;
  padding-left: 20px;
}

.NavAccount {
  /* float: right; */
  text-align: left;
  margin: 2px 12px;
  /* font-weight: bold; */
}

.NavRight {
  /* float: right; */
  text-align: left;
  margin: 2px 12px;
}

.LogoutButton {
  border: 0;
  padding: 0;
  margin: 2px 12px;
  font-size: 20px;
  font-family: inherit;
  background-color: #282c34;
  color: #61dafb;
  float: right;
}

.Signup, .Login {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

.MainContainer {
  text-align: center;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.Footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #282c34;
}

a {
  text-decoration: none;
  color: #61dafb;
}

/* MainContainer */
.MainWelcome {
  display: block;
  width: 100%;
  position: fixed;
  height: 10%;
  background-color: #282c34;
  z-index: 1;
}

.MainScroll {
  position: fixed;
  height: 90%;
}

.SearchMemberContainer, .SearchGenericContainer {
  float: left;
  margin-left: 50px;
  height: 85%;
  width:45%;
  overflow: scroll;
  padding-top: 70px;
}

.CompList {
  float: right;
  margin-right: 50px;
  height: 85%;
  width:45%;
  overflow: scroll;
  padding-top: 70px;
}

.cardHolder {
  margin-bottom: -10px;
}

/* Home Card columns */
a.zillow {
  margin-top: -10px;
}

.col3 {
  column-count: 3;
  column-rule: 1px solid grey;
  column-fill: auto;
  text-align: center;
}

.column {
  margin: auto;
}

.uneven-col3 {
  margin: 14px 0px 4px 0px;
  text-align: center;
}

.uneven-col3:after {
  content: "";
  display: table;
  clear: both;
}

.uneven-end {
  float: left;
  width: 24%;
  margin: auto;
  font-size: 14px;
  color: #61dafb;
  background-color: #21252b;
  text-align: center;
  border-width: 1px;
  border-radius: 2px;
}

.uneven-middle {
  float: left;
  width: 50%;
  margin: auto;
}

.CompHomeCard {
  position: relative;
}

.compDelete {
  float: left;
  width: 5%;
  margin: auto;
  font-size: 14px;
  color: #282c34;
  background-color: #ba1027;
  text-align: center;
  border-width: 1px;
  border-radius: 2px;
  position: absolute;
  bottom: 48px;
  right: 26px;
}

.saveHome  {
  float: left;
  width: 24%;
  margin: auto;
  font-size: 14px;
  color: #282c34;
  background-color: #61dafb;
  text-align: center;
  border-width: 1px;
  border-radius: 2px;
  position: absolute;
  bottom: 48px;
  right: 26px;
}

/* strong {
  font-size: 20px;
  margin: 2px 6px;
} */
